.mainWrap{
    display: grid;
    grid-template-columns:1fr 3fr 0fr 3fr 1fr;
    }

@media screen and (max-width:720px) {
    .resp{
        grid-template-columns: 1fr;
    }
    .mainWrap, .mainWrap2, .mainWrap3{
        grid-template-columns: 1fr;
    }
}    

    
    
    @font-face {
    font-family: "Luciole-Bold";
    src: url(../font/Luciole-Bold.ttf);
    }
    @font-face {
    font-family: "Luciole-Regular";
    src: url(../font/Luciole-Regular.ttf);
    }
    
    
    
    .firstbloc h1{
    font-family: 'Luciole-Bold';
    color: #FB8500;
    font-size: 50px;
    margin-top: 8vh;
    }
    
    .firstbloc p{
    font-family: 'Luciole-Regular';
    color: #222222;
    font-size: 24px;
    }
    
    #firstblocimg{
    margin-top: 8vh;
    margin-left: 10vw;
    width: 50%;
    }
    
    .mainWrap2{
    display: grid;
    grid-template-columns:1fr 3fr 0fr 3fr 1fr;
    margin-top: 5vh;
    }
    
    
    #secblocimg{
    margin-top: 60px;
    margin-left: 55px;
    width: 400px;
    }
    
    .secbloc_h1{
    font-family: 'Luciole-Bold';
    color: #FB8500;
    font-size: 25px;
    
    }
    
    .marge{
        margin-top: 8vh;
    }

    .secbloc_p{
    font-family: 'Luciole-Regular';
    color: #222222;
    font-size: 25px;

    }
    
    .mainWrap3{
    display: grid;
    grid-template-columns:1fr 3fr 0fr 3fr 1fr;
    }
    
    .thirdbloc p{
    font-family: 'Luciole-Regular';
    color: #222222;
    font-size: 24px;
    }
    
    #thirdblocimg{
    width: 350px;
    margin-top: 45px;
    margin-left: 75px;
    
    }
    
#text_orange{
    color:#FB8500;
    font-family:"Luciole-Regular";
    font-size: 24px;
}

.second_title{
    color: #023047;
    font-family: "Luciole-Bold";
    font-size: 50px;
    margin-top: 2vh;
    margin-left: 1vw;
}

.mainWrap{
    margin-top: 50px;
}

.fixing{
    margin-bottom: 8vh;
}