#element-footer {
    background-color: #023047;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  /* LIENS DU FOOTER*/
  .link1 {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Luciole-Bold";
    font-size: 16px;
    line-height: 2em;
  }
  
  .link2 {
    color: #fff;
    font-family: "Luciole-Bold";
    font-size: 16px;
    line-height: 6em;
  }
  
  /* LOGO*/
  .logo {
    padding-left: 15px;
    margin-top: 32px;
  }
  /*fin footer*/
  