.mainWrap{
    display: grid;
    grid-template-columns:1fr 3fr 0fr 3fr 1fr;
}



@font-face {
    font-family: "Luciole-Bold";
    src: url(../font/Luciole-Bold.ttf);
  }
  @font-face {
    font-family: "Luciole-Regular";
    src: url(../font/Luciole-Regular.ttf);
  }


.orangeP{
    color: #fb8500;
}




.firstbloc h1{
    font-family: 'Luciole-Bold';
    color: #fb8500;
    font-size: 50px;
}

.firstbloc p{
    font-family: 'Luciole-Regular';
    color: #222222;
    font-size: 24px;
}

#firstblocimg{
    margin-top: 120px;
    margin-left: 25px;
}

.mainWrap2{
    display: grid;
    grid-template-columns:1fr 3fr 0fr 3fr 1fr;
}


#secblocimg{
    margin-top: 60px;
    margin-left: 55px;
    width: 400px;
}

.secbloc_h1{
    font-family: 'Luciole-Bold';
    color: #fb8500;
    font-size: 25px;
}

.secbloc_p{
    font-family: 'Luciole-Regular';
    color: #222222;
    font-size: 24px;
}


.mainWrap3{
    display: grid;
    grid-template-columns:1fr 3fr 0fr 3fr 1fr;
}

.thirdbloc p{
    font-family: 'Luciole-Regular';
    color: #222222;
    font-size: 24px;
}

#thirdblocimg{
    width: 350px;
    margin-top: 45px;
    margin-left: 75px;

}

.mainWrap4{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    font-family: 'Luciole-Bold';
    color: #222222;
    font-size: 20px;
}

.mainWrap4 h1{
    margin-left: 12rem;
    margin-top: 4rem;
}

.fourthbloc{
    display: grid;
    grid-template-columns:1fr 3fr 0fr 3fr 1fr;
    margin-top: 4rem;
}

#fourthblocimg{
    width: 300px;
    margin-left: 7rem;
}

.fourthbloc_p{
    font-family: 'Luciole-regular';
    font-size: 24px;
    margin-top: 4rem;
}

.mainWrap5{
    display: grid;
    grid-template-columns:1fr 3fr 0fr 3fr 1fr;
    margin-top: 6rem;
    margin-left: 4rem;
}

#bloc5img{
    width: 400px;
    margin-left: 25%;
    margin-top: 12%;

}

.bloc5_p{
    font-family: 'Luciole-regular';
    font-size: 24px;
}

.mainWrap6{
    display: grid;
    grid-template-columns:1fr 3fr 0fr 3fr 1fr;
    margin-top: 2rem;
}

#bloc6_img{
    width: 400px;
    margin-left: 7rem;
    margin-top: 6rem;
}

.bloc6_p{
    font-family: 'Luciole-Regular';
    color: #222222;
    font-size: 24px;
}

.lastWrap{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

}

.lastWrap2{
    display:grid;
    grid-template-columns:1fr 3fr 3fr 1fr;
}

.lastWrap h2{
    font-family: 'Luciole-Bold';
    color: #023047;
    font-size: 50px;
}

.lastWrap p{
    font-size: 24px;
    font-family: 'Luciole-Regular';
}

.lastWrap2_p{
    font-size: 24px;
    font-family: 'Luciole-Regular';
    margin-top: 25px;
}

.lastWrap3{
    display:grid;
    grid-template-columns:1fr 3fr 3fr 1fr;
    font-size: 24px;
    font-family: 'Luciole-Regular';
}

.lastWrap3_img{
    margin-top: 4rem;
    margin-left: 2rem;
}

.lastWrap4{
    display: grid;
    grid-template-columns: 1fr 3fr 0fr 3fr 1fr;
    margin-top: 7rem;
    margin-bottom: 7rem;

}


#but{
    background-color: #023047;
    font-family: 'Luciole-Bold';
    color: white;
    font-size: 20px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 7rem;
}

#but:hover{
    box-shadow: #fb8500 2px 2px 2px 2px;
}

#autor{
    margin-left: 5rem;
}


.endPage{

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    font-size: 24px;
    color: #fb8500;
    font-family: 'Luciole-Bold';

}

















@media screen and (max-width:700px){
    .mainWrap,  .mainWrap2, .mainWrap3, .mainWrap4, .mainWrap5, .mainWrap6, .lastWrap, .lastWrap2, .lastWrap3, .lastWrap4, .endPage{
        grid-template-columns: repeat(1, 5fr);
        padding: 2rem;

    }
    #fourthblocimg, #secblocimg, #bloc5img{
        display: none;
    }
    #autor{
        margin-top: 4rem;
    }
    p, .lastWrap2_p, .lastWrap3_p{
        font-size: 20px;
    }


}








